@model Gendarme.Models.plainte

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>plainte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idOmby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idOmby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieuPlainte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieuPlainte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datePlainte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePlainte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieuResolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieuResolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateResolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateResolution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPlainte }) |
    @Html.ActionLink("Back to List", "Index")
</p>
