@model IEnumerable<Gendarme.Models.plainte>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idOmby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lieuPlainte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datePlainte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lieuResolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateResolution)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idOmby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lieuPlainte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datePlainte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lieuResolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateResolution)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPlainte }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPlainte }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPlainte })
        </td>
    </tr>
}

</table>
